{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>PMS | Enter Certificate Details</title>
	<meta charset="utf-8">

</head>
<body>

	<div class="content">

		<form>
			<div >
				<input placeholder="Department" name="department"></input>
			</div>

			<div >
				<input placeholder="Certificate Name" name="certificate_name"></input>
			</div>

			<div >
				<input placeholder="Password" name="password"></input>
			</div>

			<div >
				<input placeholder="Escalation Email" name="escalation_mail"></input>
			</div>

			<div >
				<input placeholder="Primary Owner" name="primary_owner"></input>
			</div>

			<div >
				<input placeholder="Secondary Owner" name="secondary_owner"></input>
			</div>



		</form>

	</div>

</body>
</html>

