{% extends "app1/base.html" %}

{% block content %}

<h2>Welcome to the Password Management System</h2>

{% endblock %}





<!-- {% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>PMS | Home Page</title>
	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="{% static 'app1/css/homepage.css' %}">
	<script type="text/javascript" src="{% static 'app1/js/homepage.js' %}"></script>

</head>
<body>

	<div class="main">
	<div class="content">
		<div class="header_outer">
			<div class="header_inner">
				<span>Credit Suisse Password Management System</span>
			</div>
		</div>

		<hr class="hr-line"></hr>
			

		{{deptName}}
		<br>

		<a href="addCertificate">
			<span>Add Certificate Info</span>
		</a>

		<br>
		<a href="viewAllCertificates">
			<span>View All Owned Certificate</span>
		</a>

	</div>
	</div>
		

</body>
</html> -->

