*{
	margin: 0px;
	padding: 0px;
}

.main{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: b6f8ff;
}


.content{
	position: absolute;
	width: 66%;
	height: 100%;
	background-color: white;
	top: 10px;
	left: 17%;
}

.header_outer{
	position: relative;
	width: 100%;
	height: 100px;
	background-color: #0080ff;
}


.header_inner{
	position: relative;
	display: block;
	text-align: center;
	height: 50px; 
	width: 80%;
	margin: auto;
	background-color: ellow;
	top: 25px;

}


.header_inner span{
	font-family: 'Lato', monospace;
	font-size: 30px;
	display: block;
	padding: 10px;
	color: white;
}